@font-face{
    font-family: subtitle;/*定義內文字體*/
    src:url(fonts/SourceHanSansTW-Medium.otf);
    font-weight:bolder;
  }

  @font-face{
    font-family: bigtitle;/*定義標題字體*/
    src:url(fonts/SourceHanSerifTW-Medium.otf),
    local("Arial");
  }

  @font-face{
  font-family: article;/*定義標題字體*/
  src:url(fonts/jf-openhuninn-1.1.ttf),
  local("Arial") ;
  }

  @font-face{
  font-family: menufont;/*定義標題字體*/
  src:url(fonts/Yozai-Medium.ttf),
  local("Arial") ;
  }
  
hr{
  visibility: hidden;
}  
li{
  list-style-type: none;
}  
.center{
  position: fixed;
  width:100%;
  top:0;
  outline: none;
  background-color:darkcyan;
  z-index:20;
  text-align: center;
  height: 15vh;
  margin: 0%;
  box-shadow: 2px 0px 10px;
}
/*側欄相關*/
body{
  padding: 0;
  margin:0;
  list-style-type: none;
}
.sidemenu>a{
  text-decoration:none;
  list-style:none;
  color:DarkCyan;
  font-size: 2vw;
  font-family: menufont;
  transition: 0.5s;/*放慢動畫*/
}
.sidemenu>a:hover{
  color:black;
  text-shadow: 0.2em 0.2em 0.2em dimgray;
  text-decoration:none;
  transition: 0.5s;
  position: relative;
  transform: scale(1.25);
}
.sidemenu{
  display: flex;
	flex-direction: column;
  transform: translateX(-101%);
  transition: 1.0s;
  position:fixed;
  height:100%;
  width:25vw;
  background-color: #56ebd2;
  justify-content: center;
  align-items: center; 
  text-align: center;
  z-index: 100;
}
#check:checked ~ .sidemenu{
  transform: translateX(0);
}
.menu{ 
  position: fixed;
  top:24px;
  left: 24px;
  transition: 1s;
  z-index:21;
  color: black;
  font-size:7vh;
}
#check:checked + .menu{
  transform: translate(-100%);
}
input{
  display: none;
  z-index: -1000;
}
div > a{
  margin:5%;
}
.abc{
  position:relative;
  margin-left:-235%;
  margin-bottom:-100%;
  transition: 1s;
  width: 10vw;
  transform: rotate(-45deg);
}
.abc:hover{
  margin-left: -25%;
  transform: rotate(0deg);
  margin-bottom:0%;
  transition: 0.75s;
}
/*內文寬度*/.field li {
  width:27.33333%;
  margin-left: 1%;
  margin-right:1%;
  float: left;
  padding: 1%;
  height:44vh;
  overflow: hidden;
  margin-bottom: 30vh;
  /*text-overflow: ellipsis;*/
  cursor: pointer;
  background-color: transparent;
  margin-top: 5vh;
  transition: 0.3s;
  /*border: 5px solid;
  border-radius: 1vh;
  border-color: rgb(0, 86, 86);*/
}
.field li:first-child{
  margin-left: 5%;
}
.field li:last-child{
  margin-right: 7%;
}
.field{
  margin-bottom: 8;
}
/*主網頁內文樣式*/.field>ul>li p{
  text-align:left !important;
  font-family: article;
  font-size:1.5vw;
  line-height: 2;
  color: #ffffffa3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
  margin-top: 0.8vh;
}
.field li:hover {
  cursor: pointer;
  transition: 0.75s;
  opacity: 1;
  transform: scale(1.1);
}
/*主網頁內文小標題*/.field>ul>li f{
  font-size:2vw;
  text-align:left !important;
  font-weight:bold;
  color: darkcyan;
  font-family:subtitle;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

body{/*背景*/
  font-family:article;
  background-color: #000!important;
  background-image:linear-gradient(to left, rgba(0,0,0,0.7), 
rgba(0, 0, 0, 0.9)),url("images/icon background.png");
  background-repeat: no-repeat;
  background-position: bottom 0% left 0%;
  background-attachment:scroll;
  background-size: 25%;
}

ul div{
  display:flex;
  flex-direction: row;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 100%;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, .0);
  color: white;
  cursor: pointer;
  padding: 1.2vh;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #55555555;/*滑過top按鈕顏色*/
  cursor:pointer;
  color:#56ebd2;
}

#pls{
  transition: margin-left 0.6s;
}
.contact{
  position:fixed;
  right:5.5vh;
  height:20vh;
  writing-mode: vertical-rl;
  transform: scale(-1);
  letter-spacing: 0.7vh;
  z-index:1;
  top:55vh;
  color: white;
}
.gmail{
  top:45vh;
  position:fixed;
  right:3vh;
  transform: scale(0.7) rotate(270deg);
  cursor: pointer;
}
.youtube{
  position:fixed;
  top:35vh;
  right:3vh;
  transform:scale(0.7) rotate(270deg);
  cursor: pointer;
}
.marquee{
  z-index:2;
}

.main-footer{
  padding: 150px 0 0;
}
.main-footer .container{
  display: flex;
  width: 1080px;
  margin: 1080px;
  background-color: dimgray;

}

.footer-item{
  flex-grow: 1;
  margin: 0vw 10vh;
  display: inline-block;
}
.footer-item>h3{
  font-family: article;
  color: white;
}
.footer-item nav{
  display: flex;
  flex-direction: column;
}

.footer-item>nav>a{
  padding: 0;
  text-decoration: none;
  line-height: 2;
  font-family: subtitle;
  color: #ffffffa3;
  font-size: 125%;
}
.titlelink{
  text-decoration: none;
  font-family: bigtitle;
  color: white;
  font-size: 3.2vw;
  transition: 0.5s;
}
.titlelink:hover{
  color: darkcyan;
}
.titlelink::after{
  content:"";
  display:block;
  width: 0;
  height: 4px;
  background-color: darkcyan;
  position:absolute;
  right: 82%;
  transition:.5s;
}
.titlelink:hover::after{
  width: 13%;
  left: 5%;
}
